.footer-section {
    border: 1px solid var(--grey);
    backdrop-filter: blur(20px);
    z-index: 2;
    background-color: #000000e6;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: calc(100vw - 80px);
    height: 100%;
    min-height: 60px;
    max-height: 80px;
    padding: 10px 30px;
    /* transition: max-height .3s ease-in-out; */
    display: flex;
    position: fixed;
    bottom: 10px;
    justify-content: space-between;
    overflow: hidden;
}

.footer-middle {
    color: var(--white);
    font-family: NeueHaasDisplay, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 27px;
    left: 43%;
    /* transform: translate(-50%); */
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-right {
    font-size: 16px;
}

.footer-right>span {
    color: var(--light-grey);
}

.progress-bar {
    background: var(--grey);
    z-index: -1;
    width: 100%;
    height: 80px;
    /* transition: width 1ms linear; */
    position: absolute;
    left: 0;
}

.progress-percentage {
    display: none;
}

@media (min-width: 550px) and (max-width: 820px) {
    .footer-middle {
        display: none;
    }

    /* .footer-right {
        display: none;
    } */

    /* .progress-percentage {
        display: block;
    } */
}

@media (max-width: 550px) {
    .footer-middle {
        display: none;
    }

    .footer-right {
        display: none;
    }

    .progress-percentage {
        display: block;
    }

}
